<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <td th:text="${event.id}"></td>
    </tr>
    <tr>
        <th>Name</th>
        <td th:text="${event.name}"></td>
    </tr>
    <tr>
        <th>Category</th>
        <td th:text="${event.eventCategory.name}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${event.eventDetails.description}"></td>
    </tr>
    <tr>
        <th>Location</th>
        <td th:text="${event.eventDetails.location}"></td>
    </tr>
    <tr>
        <th>Contact E-Mail</th>
        <td th:text="${event.eventDetails.contactEmail}"></td>
    </tr>
    <tr>
        <th>Number of Attendees</th>
        <td th:text="${event.eventDetails.attendees}"></td>
    </tr>
    <tr>
        <th>Registration Required</th>
        <td th:if="${event.eventDetails.registrationRequired}" th:text="Yes"></td>
        <td th:if="${!event.eventDetails.registrationRequired}" th:text="No"></td>
    </tr>
    <tr>
        <th>Tags</th>
        <td>
            <span th:each="tag : ${tags}" th:text="${tag.displayName} + ' '"></span>
        </td>
    </tr>
    <tr>
        <th><a th:href="@{/events/edit/{id}(id=${event.id})}">Edit Event</a></th>
        <td><a th:href="'/events/add-tag/?eventId=' + ${event.id}" style="text-align:right">Add Tags</a></td>
    </tr>
</table>

</body>
</html>